// Fonts
$ibm: 'IBM Plex Sans', sans-serif;
$teko: 'Teko', sans-serif;
$josefin: 'Josefin Sans', sans-serif;

// Images
$global: "assets/images/global";
$home: "assets/images/home";

// Colors
$primary_red: #DE252A;
$primary_dark_red: #BB2027;
$primary_black: #1F1F30;
$primary_violet: #515173;
$primary_gray: #5E5A5A;
$primary_off_white: #F5F4F4;