.login h1 a {
	background: url( ../images/admin-logo.png ) no-repeat;
    background-size: contain !important;
    background-position: center;
	width: 320px;
	height: 63px;
	text-indent: -9999px;
	outline: 0;
	overflow: hidden;
	padding-bottom: 18px;
	display: block;
	margin: 0 auto;
	background-size: cover;
}
