/*MBDEV Changes started From below*/
.card-overlay{left: auto !important}.card-content{transform: translateY(50%);}
.card-columns.projects-wrap {justify-content: space-between !important;}

.card-columns.projects-wrap{display: flex !important; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex;align-content: space-between;flex-wrap: wrap !important;}
.card-columns.projects-wrap .card.item{min-height:500px !important;}
.post-type-archive-projects .services_section .card-columns.projects-wrap .card.item { flex: 50%; max-width: calc(100% / 2 - 10px) !important; margin: 0 !important; margin-bottom: 20px !important;}
.services_section .projects-wrap .card-columns .card{display:block !important;top:unset !important;-webkit-transform:unset !important;transform:unset !important}
.services_section .card-columns.projects-wrap .card .card-content{bottom:100px !important;left:40px !important;}
.services_section .card-columns.projects-wrap .card .card-content{top:unset !important;-webkit-transform:translateY(calc(100% - 25px) !important);transform:translateY(calc(100% - 25px)!important)}
.services_section .card-columns.projects-wrap .card .card-overlay{width:100% !important;max-width:416px !important;height:100% !important;max-height:180px !important;position:absolute !important;bottom:-21px !important;opacity:1 !important;right:-21px !important;left:unset !important;background-color:#de252a !important;}
.services_section .card-columns.projects-wrap .card:hover .card-overlay{opacity:1!important;-webkit-transform:scale(1) !important;transform:scale(1) !important;}
.services_section .card-columns.projects-wrap .card .card-content{left:260px!important}
.services_section .card-columns.projects-wrap .card:hover .card-overlay{width:100% !important;max-width:100% !important;height:100% !important;max-height:100% !important;right:0 !important;bottom:0 !important;}
.services_section .card-columns.projects-wrap .card:hover .card-content{left:50%!important;top:50%!important;bottom:unset!important;transform:translate(-50%,-50%)!important;text-align:center!important}
.services_section .card-columns.projects-wrap .card .card-content p{opacity:1 !important;height:0 !important;-webkit-transform:unset !important;transform:unset !important;-webkit-transition:all .4s ease-in-out !important;transition:all .4s ease-in-out !important;}
.page-template-page-capabilities-parent .bg_off_white{background-image:unset!important}
.page-template-page-projects-parent .bg_off_white{background-image:unset!important}
.card-columns.projects-wrap{display: flex !important; display: -webkit-box; display: -moz-box;display: -ms-flexbox; display: -webkit-flex;}
.card-columns.projects-wrap .card.item{min-height:500px !important;}
.services_section .projects-wrap .card-columns .card{display:block;top:unset !important;-webkit-transform:unset !important;transform:unset !important}
.services_section .card-columns.projects-wrap .card .card-content{bottom:100px !important;left:40px !important;}
.services_section .card-columns.projects-wrap .card .card-content{top:unset!important;-webkit-transform:translateY(calc(100% - 25px));transform:translateY(calc(100% - 25px))}
.services_section .card-columns.projects-wrap .card .card-overlay{width:100%;max-width:416px;height:100%;max-height:180px;position:absolute;bottom:-21px;opacity:1!important;right:-21px!important;left:unset!important;background-color:#de252a}
.services_section .card-columns.projects-wrap .card:hover .card-overlay{opacity:1!important;-webkit-transform:scale(1);transform:scale(1)}
.services_section .card-columns.projects-wrap .card .card-content{left:260px!important}
.services_section .card-columns.projects-wrap .card:hover .card-overlay{width:100%;max-width:100%;height:100%;max-height:100%;right:0!important;bottom:0!important}
.services_section .card-columns.projects-wrap .card:hover .card-content{left:50%!important;top:50%!important;bottom:unset!important;transform:translate(-50%,-50%)!important;width: 70% !important;text-align: left !important;}
.services_section .card-columns.projects-wrap .card .card-content p{opacity:1 !important;height:0 !important;-webkit-transform:unset !important;transform:unset !important;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out}

@media (max-width:768px){
  .card-columns.projects-wrap{display: flex !important; display: -webkit-box; display: -moz-box; display: -ms-flexbox;
display: -webkit-flex;}
  .card-columns.projects-wrap .card.item{min-height:400px;margin-bottom:0!important}
  .services_section .card-columns.projects-wrap .card .card-overlay{width:unset;max-width:unset;height:100%;max-height:180px;position:absolute;bottom:-20px;opacity:1!important;right:-200px!important;left:-200px!important;background-color:#de252a}
  .services_section .card-columns.projects-wrap .card .card-content{left:0!important}
  .services_section .card-columns.projects-wrap .card:hover .card-overlay{width:100%;max-width:100%;height:100%;max-height:100%;left:0!important;right:-20px!important;bottom:0!important}
}
@media (min-width:768px) and (max-width:1250px){
  .services_section .card-columns.projects-wrap .card .card-overlay{max-width:100%;left:0!important;transform:scale(1);right:0!important}
  .services_section .card-columns.projects-wrap .card .card-content{left:30px!important}
  .card-columns.projects-wrap{}
}


.post-type-archive header#masthead h1, .single-projects header#masthead h1 {
    position: relative !important;
    z-index: 9 !important;
}
.post-type-archive header#masthead, .single-projects header#masthead {
    position: relative !important;
}
.post-type-archive header#masthead:after, .single-projects header#masthead:after {
    content: "" !important;
    background: #222131 !important;
    opacity: .8 !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
}

.post-type-archive div#logo, .single-projects div#logo {
    position: relative !important;
    z-index: 9 !important;
}

.projects_inner_slider .slick-arrow{height:32px !important;width:32px !important;}
.projects_inner_slider .slick-arrow:before{content:none!important;}
.projects_inner_slider .slide{width:100% !important;height:160px !important;background-size:cover !important;background-position:center !important;background-repeat:no-repeat !important;}

.projects_inner_slider_for .slick-arrow{height:32px !important;width:32px !important;}
.projects_inner_slider_for .slick-arrow:before{content:none !important;}
.projects_inner_slider_for .slick-next{background-image:url("assets/images/global/awards_right.svg") !important;background-position:center !important;background-repeat:no-repeat !important;background-size:contain !important;}
.projects_inner_slider_for .slick-prev{background-image:url("assets/images/global/awards_left.svg") !important;background-position:center !important;background-repeat:no-repeat !important;background-size:contain !important;}
.projects_inner_slider_for .slide{width:100% !important;height:530px !important;background-size:cover !important;background-position:center !important;background-repeat:no-repeat !important;}
.single-projects header#masthead {background-image: url("assets/images/home/Page-Title-1.jpg") !important;}

.relatedpostslider .slick-arrow{height:32px !important;width:32px !important}
.relatedpostslider .slick-arrow:before{content:none !important}
.relatedpostslider .slick-next{background-image:url("assets/images/global/awards_right.svg") !important;background-position:center !important;background-repeat:no-repeat !important;background-size:contain !important}
.relatedpostslider .slick-prev{background-image:url("assets/images/global/awards_left.svg") !important;background-position:center !important;background-repeat:no-repeat !important;background-size:contain !important}
.relatedpostslider .slide{width:100% !important;height:205px !important;background-size:cover !important;background-position:center !important;background-repeat:no-repeat !important}
.relatedpostslider .slick-track {min-width: 100% !important;}
.related-section{background-color: #EEEEF2 !important;}
li.post-thumbnail img{height: 205px !important;width: 287px !important;}
.d-block{display: block !important;}
a.rel-font{font-size: 18px !important;font-weight: 500 !important;color: #1F1F30 !important;}
a.rel-font:hover{color: #de252a !important;}


/* Careers Page Styles */
span.accord-btn:after {content: "" !important;background: url("assets/images/global/awards_right.svg") !important;width: 13.12px !important;height: 12.95px !important;background-size: cover !important;position: absolute !important;top: 4px !important;right: 0 !important;}
.accordion:hover span.accord-btn:after { background: url("assets/images/global/awards_right-white.svg") !important; }
.accordion.active span.accord-btn:after {
  visibility: visible !important;
  background: url("assets/images/global/times.svg") !important;
  background-repeat: no-repeat !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.text-center {
  text-align: center !important;
}
li.cust-list-style {
    list-style-type: none !important;
    position: relative !important;
}
li.cust-list-style:before {
    content: "" !important;
    background: url(assets/images/global/list-style-line.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 20px !important;
    height: 8px !important;
    left: -15px !important;
    top: 28px !important;
    position: absolute !important;
    z-index: 99 !important;
}
.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-top: 1px solid #BFBFCA!important;
  border-bottom: 1px solid #BFBFCA !important;
  border: none !important;
  text-align: left !important;
  outline: none !important;
  font-size: 15px !important;
  transition: 0.4s !important;
}

.accordion.active, .accordion:hover {
  background-color: #BB2027 !important;
  color: #fff !important;
}
.accord-font {
    font-size: 17px !important;
}
.panel {
  padding: 0 18px !important;
  max-height: 0;
  overflow: hidden !important;
  transition: max-height 0.2s ease-out !important;
}
.accord-inner span {
    flex: 1.5 !important;
}
.accordion:hover span {
  color: #fff !important;
}
.accord-inner span.job_location {
    flex: 1 !important;
    text-align: left !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    color: #A3A2B3 !important;
    line-height: 25px !important;
    letter-spacing: 1px !important;
    font-weight: 500 !important;
}
span.accord-btn {
    text-align: right !important;
    text-transform: uppercase  !important;
    color: #DE252A  !important !important;
    font-size: 15px  !important;
    font-weight: bold  !important;
    letter-spacing: 1px  !important;
    position: relative  !important;
    font-family: 'Josefin Sans'  !important;
    padding-right: 20px  !important;
    flex: 1  !important;
}
.accord-submit-section {
  background: #EEEEF2  !important;
}
.accordion:hover span.accord-btn:after { color: #fff !important; }
.accordion.active span {
  color: #fff !important;
}
.accordion.active span.accord-btn {
  visibility: hidden  !important;
}
a.cust-btn {
    background: #DE252A  !important;
    color: #fff  !important;
}
a.cust-btn:hover {
    background: #fff  !important;
    color: #DE252A  !important;
}
.careers_form {
  background: #EEEEF2  !important;
}
.careers_form div#gform_wrapper_2 {
    margin: 0 auto  !important;
}
.career-heading-width {
    max-width: 764px  !important;
    margin: 0 auto  !important;
}

.career-form-width {
    max-width: 602px  !important;
    margin: 0 auto  !important;
}
.hide_req_mark label {
    visibility: hidden  !important;
}
ul#gform_fields_2 select {
    padding: 5px 4px  !important;
    min-height: 38.44px  !important;
    margin-top: 0  !important;
}
input#gform_submit_button_2 {
    background: #DE252A !important;
    color: #fff !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
    border: none !important;
    font-size: 15px !important;
    width: unset !important;
}
input#gform_submit_button_2:hover {
    background: #fff !important;
    color: #DE252A !important;
}
.gform_footer.top_label {
    text-align: center !important;
    margin-top: 40px !important;
}
.validation_error {
    display: none !important;
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background: unset !important;
    border: unset !important;
}
.gfield_error input, .gfield_error select {
    background: #F4DADA  !important;
    border: 1px solid #EB5757 !important;
}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background: unset !important;
    border: unset !important;
}

.validation_message {
    display: none !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0 !important;
}
.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper li.gfield_error ul.gfield_checkbox, .gform_wrapper li.gfield_error ul.gfield_radio {
    color: #EB5757  !important;
}
.gform_wrapper .gfield_error .gfield_label {
    color: unset !important;
}
* {
    scroll-behavior: smooth  !important;
}
a.footer-title-fonts {
    text-decoration: none  !important;
    color: #1f1f30  !important;
}
a.footer-title-fonts:hover {
    color: #de252a  !important;
    text-decoration: underline  !important;
}
li.menu-item:hover ul.sub-menu {
    display: flex !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
p.card-desc {
    display: none;
}

.services_section .card-columns.projects-wrap .card:hover .card-content p.card-desc {
    display: block;
}
.services_section .card-columns.projects-wrap .card:hover .card-content p {
    height: unset !important;
}
.awards-wrapper .slick-slide img {
    width: auto;
    height: 124px;
}
p.medium-italic {
    font-weight: 500;
    font-style: italic;
}
.locations-wrap a {
    color: #fff;
}
.locations-wrap a:hover {
    color: #de252a;
}
.modal-wrapper img.modal-open {
    width: 100%;
}
@media(max-width: 1024px){ 
  .contact_sidebar{max-width: 41%  !important; } 
  .safety_quality ul {height: auto !important;flex-direction: row !important;}
  .safety_quality img {
    width: 650px  !important;
  }
}

@media(max-width: 768px){
  .projects_inner_slider_for .slide {width: 100%  !important;height: 200px !important;margin: 0 auto !important;}
  .projects_inner_slider .slide{width: 100% !important;height: 90px !important;}
  .slick-prev {left: -10px !important;}
  .slick-next {right: -10px !important;}
  ul.list-wrap{flex-wrap: wrap !important;}
  li.post-thumbnail{flex: 45% !important;}
  .contact_sidebar{max-width: 100% !important; position: relative !important;margin-bottom: 40px !important;}
  #masthead #menu-primary-menu li a {text-transform: capitalize !important;font-size: 16px !important;font-weight: 400 !important;font-family: "IBM Plex Sans",sans-serif !important;}
  .safety_quality img {
    width: 500px  !important;
  }
  .post-type-archive-projects .services_section .card-columns.projects-wrap .card.item {
    -webkit-box-flex: 48% !important;
    -ms-flex: 48% !important;
    flex: 48% !important;
    max-width: 49% !important;
    position: relative !important;
}
  .services_section .card-columns.projects-wrap .card .card-content {
    left: 16px !important;
  }
  .services_section .card-columns.projects-wrap .card .card-overlay {
    right: -200px !important;
    left: -200px !important;
    width: 1000px !important;
    max-width: 1000px !important;
  }
}
@media(min-width: 769px){
  input#gform_submit_button_2{padding-top: 18px !important;padding-bottom: 15px !important;}
}
@media(max-width: 480px){
  .accord-inner span:first-child { flex: 100% !important; width: 100% !important;display: block !important;text-align: center !important;}
  .accord-inner { display: block !important;text-align: center !important;}
  span.job_location {display: block !important;text-align: center !important;}
  span.accord-btn {display: block !important;text-align: center !important;padding: 10px 0 0 0 !important;}
  span.accord-btn:after {display: none !important;} 
  #masthead #nav {max-width: 226px !important;min-width:226px !important;}
  #masthead #menu-primary-menu li:last-child {margin-left: 15px !important;margin-top: 20px !important;margin-right: 15px !important;display: block !important;}
  .plus_link{letter-spacing: initial !important;}
  .bg_red_dark p.pr-5 {padding-right: 0 !important;text-align: center !important;font-size: 30px !important;}
  .post-type-archive-projects .services_section .card-columns.projects-wrap .card.item {
    -webkit-box-flex: 100% !important;
    -ms-flex: 100% !important;
    flex: 100% !important;
    max-width: 100% !important;
    position: relative !important;
}
  .services_section .card-columns.projects-wrap .card .card-content {
    left: 16px !important;
  }
  .services_section .card-columns.projects-wrap .card .card-overlay {
    right: -200px !important;
    left: -200px !important;
    width: 1000px !important;
    max-width: 1000px !important;
  }
  .card-columns.projects-wrap .card.item {
    min-height: 400px !important;
  }
}
#masthead #menu-primary-menu li .sub-menu a:hover {
    color: #fff !important;
}
#masthead #menu-primary-menu li a:hover {
    background: #1f1f30 ;
}
.post-type-archive-projects .card-content
{
  display: none !important;
}
#gform_1 select
{
  background-position-x: 95%;
}
.post-type-archive-projects .card-overlay
{
  display: none;
}
.post-type-archive-projects .card a
{
  display: none;
}
.sub-menu li
{
  width: 100%;
}
.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper li.gfield_error ul.gfield_checkbox, .gform_wrapper li.gfield_error ul.gfield_radio {
    padding-left: 10px;
    padding-top: 5px;
}
.text_red {
    text-transform: uppercase;
}
.page-id-9 .site-content .form_section .py-5 a:hover
{
  text-decoration: none;
}
#gform_1 #gform_submit_button_1
{
  background: #de252a;
    color: #fff;
}
#gform_1 select
{
    background-image: url('/wp-content/uploads/angle-down.png')  !important;
}
@media(min-width: 1440px)
{
.services_section .card-columns .card .card-overlay 
{
    background-color: black;
}
  
.page-template-page-capabilities-parent .entry-content .align-items-center .col-md-6 a:hover
{
  text-decoration: none;
}
a.footer-title-fonts:hover
{
  text-decoration: none !important;
}
.footer_nav ul li a:hover
{
  text-decoration: none !important;
}
}
@media(max-width: 992px)
{
  .page-id-66 .our_clients_section .container-fluid, .page-template-page-capabilities .safety_quality  .container-fluid
  {
    padding-left: 0px;
  }
  .page-id-70 .entry-content .references  .container-fluid.innerin  .row
  {
    padding-left: 50px;
  }
  .page-id-68 .slick-prev
  {
    margin-left: 15px;
  }
  .page-id-68 .slick-next
  {
    margin-right: 15px;
  }
  .page-template-page-capabilities       .slick-prev
  {
    margin-left: 15px;
  }
  .page-template-page-capabilities       .slick-next
  {
    margin-right: 15px;
  }
  .page-template-page-capabilities .container-fluid .h1
  {
    margin-bottom: 50px;
  }
  .safety_quality .container-fluid {
    padding-left: 0px;
}
  input#gform_submit_button_2 
  {
    outline: none;
  }
  .gform_wrapper ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error
  {
    margin-top: 15px !important;
  }
}
@media(max-width: 768px)
{
  #masthead #menu-primary-menu li:last-child
  {
        margin-left: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  #masthead #menu-primary-menu li#menu-item-492:last-child a
  {
    text-transform: uppercase !important;
  }
#masthead #menu-primary-menu li .sub-menu li:last-child
  {
    width: 100%;
  }
  button.slick-prev.slick-arrow {
    background-image: url('wp-content/themes/standard-construction-2020/assets/images/global/awards_left.svg') !important;
}

button.slick-next.slick-arrow {
      background-image: url('/wp-content/themes/standard-construction-2020/assets/images/global/awards_right.svg') !important;
}
 .our_clients_section img
{
 width: 500px;
}   
  .featured_project .container-fluid .row
  {
    display: block;
  }
    .featured_project .container-fluid .row .col-md-4
  {
    max-width: 100% !important;
  } 
 .featured_project .container-fluid .row  .col-md-7 
  {
    max-width: 100% !important;
  }
  .page-id-9 .form_section .row
  {
    display: block;
  }
  .page-id-9 .form_section .row .col-md-7
  {
    max-width: 60%;
    margin: auto;
  }
    .page-id-9 .form_section .row .col-md-5
  {
    max-width: 100%;
  }
}
@media(max-width: 576px)
{
  .page-id-70 .innerin .row .col-md-4
  {
    width: 50%;
  }
  .page-id-66 .list-unstyled li
  {
    width: 50% !important;
  }
.post-type-archive-projects .services_section .card-content
  .h1
  {
    font-size: 28px;
  }
  input#gform_submit_button_2
  {
    width: 100% !important;
  }
}
@media(max-width: 425px)
{
  #masthead #menu-primary-menu li:last-child {
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
}
@media(max-width: 320px)
{
    .page-id-70 .entry-content .references  .container-fluid.innerin  .row
  {
    padding-left: 25px;
  }
  .page-id-70 .innerin .row .col-md-4 {
    width: 100%;
}
  #masthead #menu-primary-menu li:last-child
  {
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
  .sub_hero h1
  {
    font-size: 60px;
    line-height: 60px;
  }
  .font-48
  {
    padding-bottom: 20px;
  }
  .mb-3
  {
    width: 100% !important;
  }
  .page-id-66 .list-unstyled li
  {
    width: 100% !important;
  }
}

.jobs-wrap .active + .panel {
    margin-bottom: 20px !important;
    overflow: visible !important;
}

.accord-submit-section {
    box-shadow: 0 2px 3px 0px #9a8383;
}





/* Moved from Additional CSS */
a:hover {
    color: #de252a;
    text-decoration: underline;
}
#masthead #menu-primary-menu li .sub-menu a:hover {
    color: #fff !important;
}
#masthead #menu-primary-menu li a:hover {
    background: #1f1f30 ;
}
#masthead li.button.outlined_white a:hover {
    background: transparent !important;
}
a.disabled_link {
    pointer-events: none;
}
div#gform_wrapper_1 ul#gform_fields_1 .ginput_container input, div#gform_wrapper_1 ul#gform_fields_1 .ginput_container select {
    padding-left: 25px !important;
	  min-height: 40px;
}
#gform_1 select {
	padding: unset !important;
}

span.accord-btn:hover:after {
    margin-left: 20px !important;
}
.accord-submit-section {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
hr.divider_job {
    margin-top: 40px;
	 border-top: 1px solid #BFBFCA;
}
.gform_wrapper .field_description_below .gfield_description {
    padding-top: 5px !important;
}
.panel {
    padding: 0 !important;
    margin-bottom: 0 !important;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    padding-left: 14px !important;
}
ul#gform_fields_2 select {
    min-height: 37px  !important;
	padding-left: 12px !important;
}
.gform_wrapper .field_description_below .gfield_description {
    padding-top: 10px !important;
    padding-left: 20px !important;
	 letter-spacing: 0 !important;
}
.ginput_full label, .ginput_left label, .ginput_right label {
    padding-top: 10px !important;
    padding-left: 20px !important;
	  letter-spacing: 0 !important;
}

/* .jobs-wrap .accordion.active + .panel {
    border-bottom: 1px solid #bfbfca;
} */
span.accord-btn:hover:after {
    transform: rotate(90deg);
}
span.accord-btn:after {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.accord-submit-section {
    margin-bottom: 10px !important;
}
/* .post-type-archive-projects .card-content
{
  display: none !important;
} */
.safety_quality .container-fluid .justify-content-between .px-3
{
	display: flex;
}
.page-id-68 .safety_quality .container-fluid .justify-content-between .px-3 .pb-5
{
	order: 1;
}
.page-id-68 .safety_quality .container-fluid .justify-content-between .col-md-3
{
	order: 3;
}
.page-id-68 .safety_quality .container-fluid .justify-content-between .px-3 .col-md-9
{
	order: 2;
}
#gform_1 select
{
  background-position-x: 95%;
}
/* .post-type-archive-projects .card-overlay
{
  display: none;
}
.post-type-archive-projects .card a
{
  display: none;
} */
.form_section {
	min-height: 700px;
}
.page-id-68  .slick-slide {
    align-self: center !important;
}

.page-id-68  .slick-track {
    display: flex !important;
}

/* .sub-menu li
{
  width: 100%;
} */
.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper li.gfield_error ul.gfield_checkbox, .gform_wrapper li.gfield_error ul.gfield_radio {
    padding-left: 10px;
    padding-top: 5px;
}
.text_red {
    text-transform: uppercase;
}
.page-id-9 .site-content .form_section .py-5 a:hover
{
  text-decoration: none;
}
#gform_1 #gform_submit_button_1
{
  background: #de252a;
    color: #fff;
}
#gform_1 select
{
    background-image: url('/wp-content/themes/standard-construction-2020/assets/images/global/angle-down.svg')  !important;
}
body.error404 header#masthead {
    background: url('/wp-content/uploads/projects_title.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-color: #1f1f30 !important;
    background-position: center !important;
    opacity: 1;

}
body.error404 header#masthead {
    position: relative;
}
.footer_nav.py-5 a.text_black:hover {
    text-decoration: none;
}
/* body.error404 header#masthead:after {
    background-color: #1f1f30d4;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
} */

body.error404 div#logo {
    position: relative;
    z-index: 999;
}
.post-type-archive-projects header#masthead {
    background: url(/wp-content/uploads/projects_title.jpg) !important;
    background-size: cover;
}
.post-type-archive-projects header#masthead:after {
    content: none !important;
    display: none;
}
.capabilities_slider .slick-prev, .capabilities_slider .slick-next {
    height: 100% !important;
    background-color: #f5f4f4 !important;
}
#gform_fields_2 select {
      
    background-image: url(/wp-content/themes/standard-construction-2020/assets/images/global/angle-down.svg)!important;
    background-repeat: no-repeat !important;
    background-position-x: 94% !important;
    background-position-y: center !important;
	    -webkit-appearance: none;
}
.safety_quality .container-fluid .justify-content-between .offset-md-1
{
	display: block !important;
}
.career-form-width input,select{
    border: 1px solid #BFBFCA;
   
}
.career-form-width input#input_2_15 {
    border: none;
}
#gfield_description_2_1,#gfield_description_2_2,#input_2_10_1_label,#input_2_10_2_label,#input_2_10_3_label,#input_2_10_4_label,#input_2_10_5_label,#gfield_description_2_11,
#gfield_description_2_4,#gfield_description_2_16
{
    padding-left: 15px
}
#gform_1 select {
	    background-repeat: no-repeat !important;
    background-position-x: 94% !important;
    background-position-y: center !important;
}
.accordion {
	  cursor: unset !important;
    border-top: none !important;
    border-bottom: 1px solid #bfbfca !important;
}
.jobs-wrap .accordion:first-child {
    border-top: 1px solid #bfbfca !important;

}
span.accord-btn {
    cursor: pointer;
}
.accordion:hover span {
    color: #de252a !important;
}
.accordion.active:hover span {
    color: #fff !important;
}

@media(min-width: 1440px)
{
.services_section .card-columns .card .card-overlay 
{
    background-color: black;
}
  
.page-template-page-capabilities-parent .entry-content .align-items-center .col-md-6 a:hover
{
  text-decoration: none;
}
a.footer-title-fonts:hover
{
  text-decoration: none !important;
}
.footer_nav ul li a:hover
{
  text-decoration: none !important;
}
}
@media(max-width: 992px) {
	.awards_slider .slick-prev, .awards_slider .slick-next {
    height: 100%;
/*     background-color: #f5f4f4; */
}
/* .awards_slider .slick-prev {
    left: -50px;
}
.awards_slider .slick-next {
    right: -40px;
} */
	.capabilities_slider .slide {
    height: 200px;
}
	#masthead #menu-primary-menu li.menu-item:hover ul.sub-menu {
    column-count: 1 !important;
}
	
.awards_slider {
    width: 97%;
    margin: 0 auto;
}
  .page-id-66 .our_clients_section .container-fluid, .page-template-page-capabilities .safety_quality  .container-fluid
  {
    padding-left: 0px;
  }
  .page-id-70 .entry-content .references  .container-fluid.innerin  .row
  {
    padding-left: 50px;
  }
  .page-id-68 .slick-prev
  {
    margin-left: 0;
  }
  .page-id-68 .slick-next
  {
    margin-right: 0;
  }
  .page-template-page-capabilities       .slick-prev
  {
    margin-left: 15px;
  }
  .page-template-page-capabilities       .slick-next
  {
    margin-right: 15px;
  }
  .page-template-page-capabilities .container-fluid .h1
  {
    margin-bottom: 50px;
  }
  .safety_quality .container-fluid {
    padding-left: 0px;
}
  input#gform_submit_button_2 
  {
    outline: none;
  }
  .gform_wrapper ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error
  {
    margin-top: 15px !important;
  }
	.service-heading
	{
		text-align: center;
		padding-bottom: 30px;
	}
	.page-template-page-capabilities .service-head
	{
		text-align: center;
	}
	.page-template-page-capabilities .sevices-list
	{
		column-count: 3;
	}
	   .mt-lg-5
	{
		padding: 0px 30px;
	}
}
@media(max-width: 768px) {
	#masthead #menu-primary-menu li.button.outlined_white a {
    font-family: 'Josefin Sans' !important;
    font-weight: bold;
    font-size: 15px !important;
    line-height: 20px;
}
		.page-template-page-capabilities .slick-next {
    margin-right: 0 !important;
}
.page-template-page-capabilities .slick-prev {
    margin-left: 0 !important;
}
/* 	.capabilities_slider .slide {
    height: 200px;
} */
	.safety_quality img {
    width: auto !important;
		margin-bottom: 35px;
}
	.w-md-100 {
    width: 100% !important;
}
	.border-right-md-0 {border-right: 0 !important;}
		.safety_quality .justify-content-between .col-md-12 img
	{
		width: 100% !important;
	}
	.safety_quality .justify-content-between .offset-md-1 
	{
		margin-top: -535px;
		max-width: 100% !important;
	}
	.our_clients_section .justify-content-between .col-md-12 img
	{
		width: 100% !important;
	}
	.our_clients_section .justify-content-between .offset-md-1 
	{
		margin-top: -535px;
		max-width: 100% !important;
	}
  #masthead #menu-primary-menu li.button.outlined_white  {
    margin-left: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  #masthead #menu-primary-menu li#menu-item-492:last-child a
  {
    text-transform: uppercase !important;
  }
#masthead #menu-primary-menu li .sub-menu li:last-child
  {
    width: 100%;
  }
  button.slick-prev.slick-arrow {
    background-image: url('/wp-content/themes/standard-construction-2020/assets/images/global/awards_left.svg') !important;
}

button.slick-next.slick-arrow {
      background-image: url('/wp-content/themes/standard-construction-2020/assets/images/global/awards_right.svg') !important;
}
 .our_clients_section img
{
 width: 500px;
}   
  .featured_project .container-fluid .row
  {
    display: block;
  }
    .featured_project .container-fluid .row .col-md-4
  {
    max-width: 100% !important;
  } 
 .featured_project .container-fluid .row  .col-md-7 
  {
    max-width: 100% !important;
  }
  .page-id-9 .form_section .row
  {
    display: block;
  }
  .page-id-9 .form_section .row .col-md-7
  {
    max-width: 60%;
    margin: auto;
  }
    .page-id-9 .form_section .row .col-md-5
  {
    max-width: 100%;
  }
	.page-template-page-capabilities .sevices-list {
    column-count: 2;
}
}
@media(max-width: 576px)
{
	div#gform_wrapper_2 input#gform_submit_button_2 {
        padding: 5.5px 23px 4.5px !important;
}
.services_section .card-columns.projects-wrap .card .card-content {
    width: 100%;
    max-width: 100%;
}
.post-type-archive-projects .services_section .card-content .h1 {
    font-size: 24px !important;
}
.services_section .card-columns.projects-wrap .card .card-content p {
    font-size: 14px !important;
}
	.safety_quality .justify-content-between .offset-md-1 
	{
		margin-top: -250px;
	}
		.our_clients_section .justify-content-between .offset-md-1 
	{
		margin-top: -250px;
	}
  .page-id-70 .innerin .row .col-md-4
  {
    width: 50%;
  }
  .page-id-66 .list-unstyled li
  {
    width: 50% !important;
  }
.post-type-archive-projects .services_section .card-content
  .h1
  {
    font-size: 28px;
  }
  input#gform_submit_button_2
  {
    width: 100% !important;
  }
	.page-template-page-capabilities .sevices-list {
    column-count: 1;
}
}
@media (min-width: 769px) {
input#gform_submit_button_2 {
    padding-top: 14px !important;
    padding-bottom: 11px !important;
}
}
@media (max-width: 480px) {
	#masthead #menu-primary-menu li:last-child {
		margin-left: 0px !important;align-content}
}
@media(max-width: 425px) {
	.sub_hero h1
  {
    font-size: 48px;
    line-height: 48px;
  }
		.services_section .card-columns .card .card-content {
    -webkit-transform: translateY(calc(100% - 80px)) !important;
    transform: translateY(calc(100% - 80px)) !important;
}
.services_section .card-columns .card:first-child .card-content, .services_section .card-columns .card:last-child .card-content {
    -webkit-transform: translateY(calc(100% - 80px)) !important;
    transform: translateY(calc(100% - 60px)) !important;

}
	.services_section .card-columns .card .card-content {
    bottom: -20px !important;
}
.services_section .card-columns .card:first-child .card-content, .services_section .card-columns .card:last-child .card-content {
    bottom: 0px !important;
     -webkit-transform: unset;
    transform: unset;
	}
	.capabilities_slider .slide {
    height: 160px;
}
  #masthead #menu-primary-menu li.button.outlined_white {
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
	#masthead #menu-primary-menu li.button.outlined_white {
		margin: 30px 15px 0 !important;
}
	#masthead #menu-primary-menu li .sub-menu {
    margin-bottom: 15px;
}
}
@media(max-width: 320px) {
	.services_section .card-columns .card .card-content {
    -webkit-transform: translateY(calc(100% - 80px)) !important;
    transform: translateY(calc(100% - 100px)) !important;
}
.services_section .card-columns .card:first-child .card-content, .services_section .card-columns .card:last-child .card-content {
    -webkit-transform: translateY(calc(100% - 80px)) !important;
    transform: translateY(calc(100% - 25px)) !important;

}
	.services_section .card-columns .card .card-content {
    bottom: -20px !important;
}
.services_section .card-columns .card:first-child .card-content, .services_section .card-columns .card:last-child .card-content {
    bottom: 0px !important;
     -webkit-transform: unset;
    transform: unset;
	}
    .page-id-70 .entry-content .references  .container-fluid.innerin  .row
  {
    padding-left: 25px;
  }
  .page-id-70 .innerin .row .col-md-4 {
    width: 100%;
}
/*   #masthead #menu-primary-menu li:last-child
  {
    margin-left: 0px !important;
    margin-top: 0px !important;
  } */
  .sub_hero h1
  {
    font-size: 48px;
    line-height: 48px;
  }
  .font-48
  {
    padding-bottom: 20px;
  }
  .mb-3
  {
    width: 100% !important;
  }
  .page-id-66 .list-unstyled li
  {
    width: 100% !important;
  }
}
@media(min-width: 993px) {
	#masthead #menu-primary-menu li.menu-item:hover ul.sub-menu {
		display: block !important;
    column-count: 2 !important;
}
	#masthead #menu-primary-menu li#menu-item-508 .sub-menu
{
    column-count: 1 !important;
}
}
@media(max-width: 992px) {
	.page-template-page-capabilities .capabilities_slider .slick-next {
    margin-right: 10px;
}
.page-template-page-capabilities .capabilities_slider .slick-prev {
    margin-left: 10px;
}
	.border-right-md-0 {border-right: 0 !important;}
	
	.w-md-100 {
    width: 100% !important;
}
    span.nav_arrow + ul.sub-menu {
        display: none !important;
    }
    span.nav_arrow.rotate_arrow + ul.sub-menu {
        display: block !important;
    }
/*     #masthead #menu-primary-menu li.menu-item:hover ul.sub-menu {
        display: none !important;
    } */
}
@media(max-width: 1200px) {
	.py-3-lg {
    padding: 30px 0 0;
	}
	.text-center-lg {
			text-align: center;
	}
} 
@media (min-width: 993px) and (max-width: 1200px) {
		.page-template-page-capabilities .slick-next {
    margin-right: 15px !important;
}
.page-template-page-capabilities .slick-prev {
    margin-left: 15px !important;
}
}